<h1>Editing {{fullName}}</h1>

<div class='page-header'></div>

{{#linkTo 'showUser' content class='btn btn-inverse'}}Cancel{{/linkTo}}
<a href='#' {{action 'destroy'}} class='btn btn-danger'>Destroy</a>
