<h1>{{fullName}}</h1>

<div>
  <q>{{quote}}</q>
</div>

<div class='page-header'></div>

{{#linkTo 'usersIndex' class='btn'}}Back{{/linkTo}}
{{#linkTo 'editUser' content class='btn btn-primary'}}Edit{{/linkTo}}
